[dev-packages]
pytest-terraform-fixture = {path = ".", editable = true}
pyhcl = "*"
dotted = "*"
pytest = "*"
python-terraform = "*"
invoke = "*"
"flake8" = ">=3.3.0,<4"
isort = "*"
pyyaml = "*"

[packages]

[scripts]
test = "bash run_tests.sh"

[requires]
python_version = "3"
